#nohighlight{
    font-size : 120%;
}

#highlight{
    font-size : 120%;
}

#wholeText{
    text-align:left;
}

body{
    background-color: white;
    border-radius: 25px;
}

#inputBox{
    font-size:20px;
    height:40px;
}

#textEnded{
    display: block;
    height: 2em;
}

#reloadButton{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: blue;
    background: linear-gradient(to top, #3774a8, #428BCA);;
    border: none;
    opacity: 1;
    transition: all 0.3s ease 0s;
    border-radius: 15px;
    color: white;
}

#reloadButton:hover{
    opacity: 0.85;
}

#mainMenuButton{
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(to top, #3774a8, #428BCA);;
    border: none;
    opacity: 1;
    transition: all 0.3s ease 0s;
    border-radius: 15px;
    color: white;
}

#mainMenuButton:hover{
    opacity:0.85
}

#trivia{
    background: white;
}

#trivia_image{
    height: 30em;
    width: 20em;
    display: block;
    margin: auto;
}

#trivia_text{
    display: block;
    float: center;
    left: 5%;
}

#trivia_image_wrapper{
    width: 100%;
}

.progress{
    position: relative;
}

.progress span{
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

table{
    text-align: center;
    border: 2px solid #3774a8;
    border-radius: 15px;
}

th, td, tr{
    padding: 15px;
    background: #f1f1f1;
    border: 0;
    box-shadow: 0;
    color: black;
}

.hvr-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-rotate:hover, .hvr-rotate:focus, .hvr-rotate:active {
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}