html {
    height: 100%;
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

.jumbotron{
    position: relative;
}

#navbar{
    background: linear-gradient(to top, #3774a8, #428BCA);
}

body{
    position: relative;
    min-height: 100%;
    background-color: #95b9f4;
}

#main{
    background-color: #e3ecf9;
}

#jumbotron{
    background-color: white;
    border-radius: 25px;
}

#footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  text-align: center;
  margin-bottom: 0px;
}

.hvr-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-rotate:hover, .hvr-rotate:focus, .hvr-rotate:active {
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}

.container {
    width: 100%;
}

#navbar-text{
    color: white;
}

#profile {
    color: white;
}

#logout {
    color: white;
}

.logout {
    cursor: pointer;
}

#login-alert {
    position: absolute;
    z-index : 9000;
    width: 100%;
    text-align: center;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.horizontal-collapse {
    height: 70px;
  }
  .navbar-collapse.in {
    overflow-y: hidden;
  }

  #navbar-toggle{
      border-color: white;
      -webkit-tap-highlight-color: white;
      background-color: transparent;
  }

  #navbar-collapse{
      box-shadow: inset 0 0 0 0;
      border-top: none;
  }

  #icon-bar{
      background-color: white;
  }