#nohighlight{
    font-size : 120%;
}

#highlight{
    font-size : 120%;
}

#wholeText{
    text-align:left;
}

#inputBox{
    font-size:20px;
    height:40px;
}

#textEnded{
    display: block;
    height: 2em;
}

#reloadButton{
    position: absolute;
    bottom: 2px;
    right: 2px;
    background-color: blue;
}

#mainMenuButton{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #428BCA;
    border: none;
    opacity: 1;
    transition: all 0.3s ease 0s;
}

#mainMenuButton:hover{
    background: #3071A9;
}

#trivia{
    display: none;
    background: #d3ddea;
    border-radius: 25px;
    border: 4px solid blue;
}

#trivia_image{
    height: 15em;
    width: 10em;
    display: block; 
    float:left;
}

#trivia_text{
    display: block;
    float: center;
    left: 5%;
}

#trivia_image_wrapper{
    float: left;
}

.progress{
    position: relative;
}

.progress span{
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}