#nohighlight{
    font-size : 120%;
}

#highlight{
    font-size : 120%;
}

#wholeText{
    text-align:left;
}

#inputBox{
    font-size:20px;
    height:40px;
}

#textEnded{
    display: block;
    height: 2em;
}

#reloadButton{
    float:right;
}

#trivia{
    display: block;
}

#trivia_image{
    height: 10em;
    width: 10em;
    display: block; 
    float:left;
}

#trivia_text{
    display: block;
    float: center;
    left: 5%;
}

#trivia_image_wrapper{
    float: left;
}