table {
	background: #f5f5f5;
	border-collapse: separate;
	font-size: 15px;
	line-height: 24px;
	margin: auto auto;
	text-align: center;
	width: 100%;
}	

tbody{
    width: 100%;
}

th {
	background: linear-gradient(#777, #444);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	color: black;
    font-weight:normal;
	padding: 10px 15px;
	position: relative;
}

th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 0 0 0 0;
	position: relative;
	top: 25%;
	width: 100%;
}


td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 500ms;
}

tbody tr:first-child th:first-child,
tbody tr:first-child td:first-child {
	border-top-left-radius: 13px;
}

tbody tr:first-child th:last-child,
tbody tr:first-child td:last-child {
	border-top-right-radius: 13px;
}

tbody tr:last-child th:first-child,
tbody tr:last-child td:first-child {
	border-bottom-left-radius: 13px;
}

tbody tr:last-child th:last-child,
tbody tr:last-child td:last-child {
	border-bottom-right-radius: 13px;
}

tbody tr td:first-child,
tbody tr td:last-child {
	width: 33%;
}

tbody:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}

#loadingGif{
    width: 15%;
    height:15%;
}

#centerTable{
    width: 100%;
    margin:0 auto;
}

#latestScoreTable{
    width: 100%;
    height: 44.800;
}