<!DOCTYPE html>
<html lang="en" ng-app="szybkiePisanie">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<link href="//getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="//getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
	<link href="css/register.css" rel="stylesheet">

</head>

<body ng-controller="RegisterCtrl">
	<div class="container">
    <div class="jumbotron" id="jumbotron">
	<div class="container">
		<div class="text-center">
			<h2>Rejestracja</h2>
		</div>
		<form class="form-signin" role="form">
			<input ng-model="user.email" class="form-control" placeholder="Adres email" autofocus="" id="email_register">
			<input ng-model="user.password" type="password" class="form-control" placeholder="Hasło">
			<button type="button" ng-click="Register($event)" class="btn btn-lg btn-primary btn-block">Zaloguj się</button>
		</form>

	</div>
    </div>
	</div>



</body>

</html>