<div class="container">
	<div class="jumbotron" id="jumbotron">
		<div class="container">
			<div class="text-center">
				<h2>Rejestracja</h2>
			</div>
			<form class="form-signin" role="form">
				<input ng-model="user.email" class="form-control" placeholder="Adres email" autofocus="" id="email_register">
				<input ng-model="user.password" type="password" class="form-control" placeholder="Hasło">
				<button type="button" ng-click="Register($event)" class="btn btn-lg btn-primary btn-block">Zaloguj się</button>
			</form>
		</div>
	</div>
</div>